/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12 mai 2015, 09:19:40
    Author     : fabien.sanchez
*/

th{
    background-color: #808;
    color: #fff;
    line-height: 30px;
}

tr {
    background-color: #eeccdd;
    color: #444;
}

tr:nth-child(odd) {
    background-color: #F0BCD6;
}

td {
    font-size: 0.9em;
}