/*
    Created on : 12 mai 2015, 09:48:21
    Author     : fabien.sanchez
*/

#nav {
    display: block;
    position: fixed;
    float: left;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.75);
    background-color: rgba(202,193,255,0.75);
    box-shadow: 0px 10px 5px rgba(0,0,0,0.25);
}

#nav a {
    display: block;
    text-decoration: none;
    background-color: transparent;
}

#content {
    padding-top: 60px;
}

#nav>.menu-menu {
    display: block;
    margin: 0 100px
}

#nav>.menu-menu>.menu-item {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 40px;
}

#nav>.menu-menu>.menu-item:hover {
    background-color: rgba(64,0,64,0.1)
}
