/* Règle spécifique au template
   ========================================================================== */

@import url('./font/roboto-fontface.css');

body {
    font-family: roboto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#master_content{
    position: relative;
}
#nav, #content {
    width: 1024px;
    margin: 0 auto;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
