<table>
    <tbody>
        <tr>
            <th>Tablespace</th>
            <th>Fichier</th>
            <th>Taille</th>
            <th>Libre</th>
            <th>Increment</th>
            <th>Maximum</th>
            <th>Actions</th>
        </tr>
        <?php foreach ($tablespaces as $tablespace): ?>
            <tr>
                <td class="js_name">
                    <?= html($tablespace->name); ?>
                </td>
                <td>
                    <?= html($tablespace->file); ?>
                </td>
                <td>
                    <?= html(bitConverter($tablespace->size, 'Mo')); ?>
                </td>
                <td>
                    <?= html(bitConverter($tablespace->free, 'Mo')); ?>
                </td>
                <td>
                    <?= html(bitConverter($tablespace->increment, 'Mo')); ?>
                </td>
                <td>
                    <?= html(bitConverter($tablespace->maxSize)); ?>
                </td>
                <td>
                    <a href="<?= url('supp_tablespace', ['name' => urlencode($tablespace->name)], ['CSRF' => getCsrf()]); ?> " class="js_supprime btn btn-erreur"> supp </a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<a href="<?= url('nouv_tablespace'); ?>" class="btn btn-succes"> + </a>
