<form action="<?= url('nouv_tablespace'); ?>" method="POST">
    <?= inputCsrf(); ?>
    <div class="group">
        <label for = "nom"> Nom du tablespace : </label>
        <input type = "text" name = "nom" id = "nom">
    </div>
    <div class="group">
        <label for = "size"> taille de départ : </label>
        <input type = "text" name = "size" id = "size" value = "250M">
    </div>
    <div class="group">
        <label for="extend"> extensible </label>
        <input type="checkbox" name="extend" id="extend" checked="checked">
    </div>
    <div class="group"
         <label for = "extend_size"> Taille de l'extension : </label>
        <input type = "text" name = "extend_size" id = "extend_size" value="50M">
    </div>
    <div class="group">
        <label for="no_limit"> Ilimité </label>
        <input type="checkbox" name="no_limit" id="no_limit" checked="checked">
    </div>
    <div class="group">
        <label for="limit_size"> Taille de la limite : </label>
        <input type="text" name="limit_size" id="limit_size">
    </div>
    <button type = "submit" class = "btn btn-principal">Ajouter</button>
</form>
