@font-face {
    font-family: 'roboto';
    src: url('roboto-bold-webfont.eot');
    src: url('roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('roboto-bold-webfont.woff2') format('woff2'),
        url('roboto-bold-webfont.woff') format('woff'),
        url('roboto-bold-webfont.ttf') format('truetype'),
        url('roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('roboto-bolditalic-webfont.eot');
    src: url('roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('roboto-bolditalic-webfont.woff2') format('woff2'),
        url('roboto-bolditalic-webfont.woff') format('woff'),
        url('roboto-bolditalic-webfont.ttf') format('truetype'),
        url('roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('roboto-regular-webfont.eot');
    src: url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('roboto-regular-webfont.woff2') format('woff2'),
        url('roboto-regular-webfont.woff') format('woff'),
        url('roboto-regular-webfont.ttf') format('truetype'),
        url('roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('roboto-italic-webfont.eot');
    src: url('roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('roboto-italic-webfont.woff2') format('woff2'),
        url('roboto-italic-webfont.woff') format('woff'),
        url('roboto-italic-webfont.ttf') format('truetype'),
        url('roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}