
<form action="<?= url('import'); ?>" method="POST">
    <?= inputCsrf(); ?>
    <div class="group">
        <label for="dump"> Choisir le fichier du dump : </label>
        <select name="dump" id="dump" class="js_dump">
            <option></option>
            <?php foreach ($listeDump as $dump): ?>
                <option><?= $dump->getFullName(); ?></option>
            <?php endforeach; ?>
        </select>
        <div id="dump_head"></div>
    </div>

    <div class="group">
        <label class="radio-inline">
            <input type="radio" name="dumptype" id="dumptype1" class="js_dumptype" value="1"> dump classique
        </label>
        <label class="radio-inline">
            <input type="radio" name="dumptype" id="dumptype2" class="js_dumptype" value="2"> dump pump
        </label>
    </div>


    <div class="group">
        <label for="user"> Choisir l'utilisateur de destination : </label>
        <select name = "user" id = "user">
            <option></option>
            <?php
            foreach ($schemas as $schema):
                if ($schema->id > Config::get('first_schema', 1)):
                    ?>
                    <option><?= $schema->nom; ?></option>
                    <?php
                endif;
            endforeach;
            ?>
        </select>
    </div>
    <div class="group">
        <label for = "olduser"> nom de l'utilisateur d'origine : </label>
        <input type = "text" name = "olduser" id = "olduser">
    </div>
    <div>
        <div class="js_type js_type1">
        </div>
        <div class="js_type js_type2">
            <div class="group"><label for = "remap_tablespace"> Tablespace à remapper : </label><input type = "text" name = "remap_tablespace" id = "remap_tablespace"></div>

        </div>
    </div>

    <button type = "submit" class = "btn btn-principal">Importer</button>
</form>