<table>
    <tbody>
        <tr>
            <th>Utilisateur</th>
            <th>Tablespace</th>
            <th>Id</th>
            <th>Création</th>
            <th>Action</th>
        </tr>
        <?php
        foreach ($schemas as $schema) :
            if ($schema->id > 36) :
                ?>
                <tr>
                    <td><?= html($schema->nom); ?></td>
                    <td><?= html($schema->tablespace); ?></td>
                    <td><?= html($schema->id); ?></td>
                    <td><?= html($schema->createdAt); ?></td>
                    <td>
                        <a href="<?= url('supp_schema', ['name' => $schema->nom], ['CSRF' => getCsrf()]); ?>" class="btn btn-erreur"> supp </a>
                        <?php if ($schema->activ > 0) : ?>
                            <a href=" <?= url('deco_schema', ['name' => $schema->nom], ['CSRF' => getCsrf()]); ?>" class="btn btn-attention"> deco </a>
        <?php endif; ?>
                    </td>
                </tr>
                <?php
            endif;
        endforeach;
        ?>
    </tbody>
</table>
<a href="<?= url('nouv_schema'); ?>" class="btn btn-succes"> + </a>
