
<form action="<?= url('nouv_schema'); ?>" method="POST">
    <?= inputCsrf(); ?>
    <div class="group"><label for = "nom"> Nom utilisateur : </label><input type = "text" name = "nom" id = "nom"></div>
    <div class="group"><label for = "mdp"> Mot de passe : </label><input type = "password" name = "mdp" id = "mdp"></div>
    <div class="group"><label for = "mdp_confirm"> Confirmer le mot de passe : </label><input type = "password" name = "mdp_confirm" id = "mdp_confirm"></div>
    <div class="group"><label for="dba"> Utilisateur DBA </label><input type="checkbox" name="dba" id="dba"></div>
    <button type = "submit" class = "btn btn-principal">Ajouter</button>
</form>
